<!DOCTYPE html>
<html>

<head>
    <title>WebRTC</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div id="header">
        <h1>WebRTC</h1>
        <p>Welcome to WebRTC Test</p>
    </div>

    <div id="content">
        <div id="connection_functions" class="hr">
            <h3>Connection</h3>
            <h4>Status: <span id="connectionStatus">waiting</span></h4>
            <div>
                <textarea rows="4" cols="50" id=localOffer></textarea>
                <button id="localOfferSet">CreateOffer</button>
            </div>

            <div>
                <textarea id="remoteOffer" rows="4" cols="50" placeholder="Paste remote SDP"></textarea>
                <button id="remoteOfferGot">Answer</button>
            </div>
        </div>

        <div id="connectedFunctions">
            <div id="divChat" class="hr">
                <h3>Chat</h3>
                <p><input type="checkbox" id="enableChat" checked><span>Enable chat</span></p>
                <div>
                    <div id="chat" style="overflow:scroll; min-height: 100px"></div>
                    <form action="" onsubmit="event.preventDefault();return sendMsg();">
                        <input id="sendTxt" type="text" name="" placeholder="chat here" size="50">
                        <button type="submit">send</button>
                    </form>
                </div>
            </div>

            <div class="hr">
                <h3>Stream</h3>
                <div id="divLocalStream">
                    <h4>Local</h4>
                    <div style="display: inline-block;">
                        <p>
                            <button id="enableCameraStream">Camera</button>
                            <input type="checkbox" id="enableMicrophoneStream" checked><span>Enable Microphone</span>
                            <button id="enableScreenStream">Screen</button>
                            <button type="submit" onclick="stopMedia()">Stop</button>
                        </p>
                        <video id="localVideoStream" autoplay muted controls></video>
                    </div>
                </div>
                <div>
                    <h4>Remote</h4>
                    <div style="display: inline-block;">
                        <p>Camera/Screen</p>
                        <video id="remoteVideoStream" autoplay controls></video>
                    </div>
                </div>
            </div>

            <div class="hr">
                <h3>File transfer</h3>
                <p><input type="checkbox" id="enableFileTransfer" checked><span>Enable File transfer</span></p>
                <div>
                    <progress value="0" id="sendFileProg"></progress>
                    <input type="file" name="" id=fileTransfer>
                    <button type="submit" onclick="sendFile()">send</button>
                </div>
                <div>
                    <p><progress value="0" id="recFileProg"></progress><a href="" id=fileDownload></a></p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="javascripts/webrtc.js"></script>

</html>