body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sent{
  color:blue;
}

video {
  width: 350px;
  height: 200px;
}

div.hr {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}